 {% extends 'base.html.twig' %}

 {% block title %}Liste des films{% endblock %}

 {% block body %}



<form method="POST">

    <p>
        <label for="titre">
            Titre
        </label>
        <input type="text" name="titre" id="titre" />
    </p>
    <p>
        <label for="resume">
            Résumé
        </label>
        <textarea name="resume" id="resume"></textarea>
    </p>
    <p>
        <label for="annee_sortie">
            Année de sortie 
        </label>
        <input type="number" min="1900" max="2021" step="1" name ="annee_sortie" id="annee_sortie" />
    </p>
    <p>
        <label for="acteur">
            Acteur
        </label>
        <select name="acteur[]" id="acteur" multiple>
            {% for acteur in acteurs %}
            <option value="{{acteur.id}}">
            {{acteur.nom}}
            {{acteur.prenom}}
            </option>
        
    {% endfor %}
        </select>
    </p>
    <p>
        <label for="genre">
            Genre
        </label>
        <select name="genre" id="genre">
            {% for genre in genres %}
            <option value="{{genre.id}}">
            {{genre.name}}
            </option>
        
    {% endfor %}
        </select>

    </p>
    <p>
        <label for="affiche">
            Affiche
        </label>
        <textarea name="affiche" id="affiche"></textarea>
    </p>

    <p>
        <button type="submit">
            Enregistrer
        </button>
    </p>

</form>
{% endblock %}