{% extends 'base.html.twig' %}

 {% block title %}Edition du film #{{film.id}}{% endblock %}

 {% block body %}

<form method="POST">

    <p>
        <label for="genre">
            Titre du film
        </label>
        <input type="text" name="titre" id="name" value="{{film.genre.name}}" />
    </p>

   <p>
        <label for="acteur">
            Acteur
        </label>
        <select name="acteur[]" id="acteur" multiple>
            {% for acteur in acteurs %}
            <option value="{{acteur.id}}"
                {% if film.acteurs.contains(acteur) %}
                    selected
            
                {% endif %}
            
            >
            {{acteur.nom}}
            {{acteur.prenom}}
            </option>
        
    {% endfor %}
        </select>
    </p>

{#
    <p>
        <label for="genre">
            Genre
        </label>
        <select name="genre" id="genre">
            {% for genre in genres %}
            <option value="{{genre.id}}"
            {% if film.genre.contains(genre) %}
                    selected
            
                {% endif %}
            
            
            >
            {{genre.name}}
            </option>
        
    {% endfor %}
        </select>

    </p>#}


   

    <p>
        <button type="submit">
            Enregistrer
        </button>
    </p>

</form>

{% endblock %}