{% extends 'base.html.twig' %}

{% block title %}Hello FilmsController!{% endblock %}

{% block body %}

<a href="{{ url('films_create') }}">Nouveau Film</a>

<div>
    {% for film in films %}
        <h2>#{{ film.id }} : {{ film.titre }}</h2>
        <h3>Sortie : {{ film.anneeSortie }}</h3>
            <p>{{ film.resume }}</p>
       {# <p>Acteur : {{film.acteur}}</p> #}
        {% if film.genre is not null %}
            <p>Genre : {{ film.genre.name }}</p>
        {% endif %}
            <p>Affiche : {{film.affiche}}</p>
        <hr />
        <a href="{{ url('films_edit', {'id' : film.id }) }}">Editer</a>
        <hr/>
        <a href="{{ url('films_delete', {'id' : film.id }) }}">Supprimer</a>

    {% endfor %}
</div>

{% endblock %}




{#{% extends 'base.html.twig' %}

{% block title %}Hello FilmsController!{% endblock %}

{% block body %}

<a href="{{ url('genres_create') }}">Nouveau genre</a>

<div>
    {% for genre in genres %}
        <h2>#{{ genre.id }} : {{ genre.name }}</h2>
        <a href="{{ url('genres_edit', {'id' : genre.id }) }}">Editer</a>
        {% if genre.films|length == 0 %}
        <br/>
        <a href="{{ url('genres_delete', {'id' : genre.id }) }}">Supprimer</a>
        {% endif %}
        
        
        {% endfor %}
</div>

{% endblock %}#}

